*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100dvw;
  height: 100dvh;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0.25turn, #dcd9d4, #b59891);
}

.device-frame {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.device-frame .div {
  background-color: var(--m3-schemes-surface-container-lowest);
  border: 2px solid var(--collection-1-neutral-grey400);
  border-radius: 1rem;
  width: 412px;
  height: 892px;
  position: relative;
  padding: 20px;
  box-shadow: 2px 2px 10px #848181;
}

.device-frame .building-blocks {
  display: flex;
  width: 412px;
  height: 52px;
  align-items: flex-end;
  justify-content: space-between;
  padding: 10px 24px;
  position: absolute;
  top: 0;
  left: 0;
}




.device-frame .overlap-group {
  width: 17px;
  top: 446px;
  left: 267px;
  background-image: url(./img/path-4.png);
  background-size: 100% 100%;
  position: absolute;
  height: 17px;
}


.device-frame .frame {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 808px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: absolute;
  top: 60px;
  left: 0;
  background-color: #ffffff;
}

.device-frame .frame-2 {
  display: inline-flex;
  flex-direction: column;
  height: 370px;
  align-items: flex-start;
  gap: 25px;
  padding: 5px 0px;
  position: relative;
  background-color: #ffffff;
}

.device-frame .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--h-secondary-bold-font-family);
  font-weight: var(--h-secondary-bold-font-weight);
  color: #000000;
  font-size: var(--h-secondary-bold-font-size);
  letter-spacing: var(--h-secondary-bold-letter-spacing);
  line-height: var(--h-secondary-bold-line-height);
  white-space: nowrap;
  font-style: var(--h-secondary-bold-font-style);
}

.device-frame .text-field {
  display: flex;
  flex-direction: column;
  width: 392px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px 4px 0px 0px;
}

.device-frame .state-layer-wrapper {
  display: flex;
  flex-direction: column;
  height: 56px;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  border-radius: 4px;
  border: 1px solid;
  border-color: var(--m3-schemes-outline);
}

.device-frame .state-layer {
  display: flex;
  align-items: flex-start;
  padding: 4px 0px 4px 16px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  margin-top: -1px;
  margin-bottom: -1px;
  margin-left: -1px;
  margin-right: -1px;
  border-radius: 4px 4px 0px 0px;
  border: 0px none;
  border-color: var(--collection-1-neutral-grey400);
}

.device-frame .content {
  display: flex;
  flex-direction: column;
  height: 48px;
  align-items: flex-start;
  justify-content: center;
  padding: 4px 0px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.device-frame .input-text {
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
  border: none;
  background: none;
  margin-top: -1px;
  font-family: var(--m3-body-large-font-family);
  font-weight: var(--m3-body-large-font-weight);
  color: var(--m3-schemes-on-surface);
  font-size: var(--m3-body-large-font-size);
  letter-spacing: var(--m3-body-large-letter-spacing);
  line-height: var(--m3-body-large-line-height);
  white-space: nowrap;
  font-style: var(--m3-body-large-font-style);
  padding: 0;
}

.device-frame .label-text {
  display: inline-flex;
  align-items: center;
  padding: 0px 4px;
  position: absolute;
  top: -12px;
  left: -4px;
  background-color: var(--m3-schemes-surface);
}

.device-frame .label-text-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--m3-body-small-font-family);
  font-weight: var(--m3-body-small-font-weight);
  color: var(--m3-schemes-on-surface-variant);
  font-size: var(--m3-body-small-font-size);
  letter-spacing: var(--m3-body-small-letter-spacing);
  line-height: var(--m3-body-small-line-height);
  white-space: nowrap;
  font-style: var(--m3-body-small-font-style);
}

.device-frame .trailing-icon {
  display: flex;
  flex-direction: column;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
}

.device-frame .container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 100px;
  overflow: hidden;
}

.device-frame .icon-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px;
  position: relative;
  flex: 0 0 auto;
}

.device-frame .icon {
  position: relative;
  width: 24px;
  height: 24px;
}

.device-frame .frame-3 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.device-frame .frame-4 {
  display: flex;
  width: 240px;
  align-items: center;
  position: relative;
}

.device-frame .text-wrapper-2 {
  position: relative;
  width: 135.37px;
  font-family: var(--small-font-family);
  font-weight: var(--small-font-weight);
  color: var(--collection-1-brand-rose);
  font-size: var(--small-font-size);
  letter-spacing: var(--small-letter-spacing);
  line-height: var(--small-line-height);
  font-style: var(--small-font-style);
}

.device-frame .checkbox {
  position: relative;
  width: 21.21px;
  height: 20.06px;
}

.device-frame .text-wrapper-3 {
  position: relative;
  width: 107px;
  font-family: var(--small-font-family);
  font-weight: var(--small-font-weight);
  color: var(--collection-1-neutral-grey400);
  font-size: var(--small-font-size);
  text-align: right;
  letter-spacing: var(--small-letter-spacing);
  line-height: var(--small-line-height);
  font-style: var(--small-font-style);
}

.device-frame .button {
  all: unset;
  box-sizing: border-box;
  display: flex;
  height: 45px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: var(--collection-1-brand-beige);
  border-radius: 8px;
}

.device-frame .button-2 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: fit-content;
  font-family: var(--body-bold-font-family);
  font-weight: var(--body-bold-font-weight);
  color: var(--collection-1-neutral-grey600);
  font-size: var(--body-bold-font-size);
  letter-spacing: var(--body-bold-letter-spacing);
  line-height: var(--body-bold-line-height);
  white-space: nowrap;
  font-style: var(--body-bold-font-style);
}

.device-frame .text-wrapper-4 {
  position: relative;
  width: fit-content;
  font-family: var(--body-bold-font-family);
  font-weight: var(--body-bold-font-weight);
  color: var(--collection-1-neutral-grey600);
  font-size: var(--body-bold-font-size);
  letter-spacing: var(--body-bold-letter-spacing);
  line-height: var(--body-bold-line-height);
  white-space: nowrap;
  font-style: var(--body-bold-font-style);
}
